USE [master]
GO
/****** Object:  Database [BDMVCCRUD]    Script Date: 05/05/2023 21:27:20 ******/
CREATE DATABASE [BDMVCCRUD] ON  PRIMARY 
( NAME = N'BDMVCCRUD', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\BDMVCCRUD.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDMVCCRUD_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\BDMVCCRUD_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDMVCCRUD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDMVCCRUD]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 05/05/2023 21:27:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[clave] [int] NULL,
	[fecha] [date] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id], [nombre], [clave], [fecha]) VALUES (24, N'Juan Rodriguez', 6594, CAST(N'2000-08-12' AS Date))
INSERT [dbo].[Usuario] ([id], [nombre], [clave], [fecha]) VALUES (25, N'Maria Gonzalez', 3974, CAST(N'1994-11-09' AS Date))
INSERT [dbo].[Usuario] ([id], [nombre], [clave], [fecha]) VALUES (26, N'Jose Perez', 8889, CAST(N'2010-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[Usuario] OFF
USE [master]
GO
